@charset "UTF-8";
/*---------------------Стандартное обнуление для всех браузеров-----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: flex;
  align-items: flex-start;
}
.slick-slider .slick-dots {
  padding: 100px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .slick-slider .slick-dots {
    padding: 50px 0px 0px 0px;
  }
}
@media (max-width: 479px) {
  .slick-slider .slick-dots {
    padding: 30px 0px 0px 0px;
  }
}
.slick-slider .slick-dots li {
  margin: 0px 5px;
}
.slick-slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #c8c8c8;
}
.slick-slider .slick-dots li.slick-active button {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #a9afb3;
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
    background-color: #fff;
  }
  .icon-menu.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
    background-color: #fff;
  }
}

.block {
  text-align: center;
}
.block .block__icon {
  margin: 0px 0px 30px 0px;
}
.block .block__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0px 0px 18px 0px;
}
.block .block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
.block .block__text.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block .block__text.block__text_j::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #848789;
  display: block;
  margin: 35px auto 0px auto;
}
@media (max-width: 1500px) {
  .block .block__text.block__text_j::after {
    margin: 15px auto 0px auto;
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}
.item .item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.6);
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.item .item__logo span {
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 50;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}
.header .header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header .header__row .header__menu .menu__icon {
  padding: 0;
}
@media (max-width: 767px) {
  .header .header__row .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    transition: all 0.3s ease 0s;
  }
  .header .header__row .menu__body.active {
    top: 0;
  }
}
.header .header__row .menu__body .menu__list {
  display: flex;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header .header__row .menu__body .menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li {
    padding: 0px 0px 45px 0px;
  }
}
.header .header__row .menu__body .menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li:nth-child(2) {
    padding: 0px 0px 45px 0px;
  }
}
.header .header__row .menu__body .menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }
}
.header .header__row .menu__body .menu__list li::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0px -2px 0px 0px;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 40px;
    margin: 0px -2px 0px 0px;
  }
}
.header .header__row .menu__body .menu__list li:nth-child(2)::after {
  display: none;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li:nth-child(2)::after {
    display: block;
  }
}
.header .header__row .menu__body .menu__list li:last-child::after {
  display: none;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list li:last-child::after {
    padding: 0px;
  }
}
.header .header__row .menu__body .menu__list .menu__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
@media (max-width: 767px) {
  .header .header__row .menu__body .menu__list .menu__link {
    color: #fff;
    font-size: 20px;
  }
}
.header .header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  transform: translate(-50%, 0);
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main .main-screen {
  flex: 1 0 100%;
  position: relative;
  padding: 0px 0px 50% 0px;
}
.main .main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .content .generation {
  background-color: #f7f7f7;
  padding: 120px 0px;
}
@media (max-width: 900px) {
  .main .content .generation {
    padding: 80px 0px;
  }
}
@media (max-width: 600px) {
  .main .content .generation {
    padding: 30px 0px;
  }
}
.main .content .brands .brands__row {
  display: flex;
}
@media (max-width: 1100px) {
  .main .content .brands .brands__row {
    flex-direction: column;
  }
}
.main .content .brands .brands__row .brands__column {
  flex: 0 1 33.333%;
}
.main .content .brands .brands__row .brands__column.brands__column_b {
  flex: 0 1 66.667%;
}
.main .content .brands .brands__row .brands__column .brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
@media (max-width: 1500px) {
  .main .content .brands .brands__row .brands__column .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
.main .content .brands .brands__row .brands__column .brands__content::after {
  content: "";
  z-index: 2;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.main .content .brands .brands__row .brands__column .brands__image {
  position: relative;
  padding: 0px 0px 37.51% 0px;
}
.main .content .brands_rev .brands__column {
  order: 1;
}
.main .content .brands_rev .brands__column_b {
  order: 2;
}
@media (max-width: 1100px) {
  .main .content .brands_last .brands__column:nth-child(1) {
    order: 2;
  }
  .main .content .brands_last .brands__column:nth-child(2) {
    order: 1;
  }
  .main .content .brands_last .brands__column:nth-child(3) {
    order: 3;
  }
}
.main .content .slider {
  background-color: #f7f7f7;
  padding: 120px 0px 60px 0px;
}
@media (max-width: 1100px) {
  .main .content .slider {
    padding: 60px 0px 40px 0px;
  }
}
@media (max-width: 479px) {
  .main .content .slider {
    padding: 40px 0px 30px 0px;
  }
}
.main .content .slider .slider__body .slider__item {
  text-align: center;
}
.main .content .slider .slider__body .slider__item .slider__icon {
  margin: 0px 0px 35px 0px;
}
.main .content .slider .slider__body .slider__item .slider__title {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.main .content .slider .slider__body .slider__item .slider__title span {
  font-weight: 300;
  color: #848789;
}
.main .content .slider .slider__body .slider__item .slider__text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}
.main .content .shop .shop__body {
  display: flex;
}
.main .content .shop .shop__body .shop__column {
  flex: 0 1 16.666%;
}
.main .content .shop .shop__body .shop__column_b {
  flex: 0 1 33.333%;
}
@media (max-width: 1100px) {
  .main .content .shop .shop__body {
    flex-wrap: wrap;
  }
  .main .content .shop .shop__body .shop__column {
    flex: 0 1 50%;
  }
  .main .content .shop .shop__body .shop__column:first-child {
    flex: 1 1 100%;
  }
  .main .content .shop .shop__body .shop__column:last-child {
    flex: 1 1 100%;
  }
}
.main .content .shop .shop__body .block-shop {
  height: 100%;
}
.main .content .shop .shop__body .block-shop__row {
  display: flex;
}
.main .content .shop .shop__body .block-shop__column {
  flex: 0 1 50%;
}
.main .content .shop .shop__body .block-shop__item {
  position: relative;
  height: auto;
  padding: 0px 0px 50% 0px;
}
.main .content .shop .shop__body .block-shop__item_b {
  padding: 0px 0px 200.5% 0px;
}
.main .content .shop .shop__body .block-shop__item_l {
  padding: 0px 0px 100% 0px;
}
.main .content .shop .shop__footer {
  background-color: #282f35;
  text-align: center;
  padding: 75px 0px;
}
@media (max-width: 1100px) {
  .main .content .shop .shop__footer {
    padding: 50px 0px;
  }
}
.main .content .shop .shop__footer .shop__btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  background-color: #282f35;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0px 60px;
}
@media (max-width: 1100px) {
  .main .content .shop .shop__footer .shop__btn {
    padding: 0px 30px;
  }
}
.main .content .shop .shop__footer .shop__btn:hover {
  background-color: #fff;
  color: #282f35;
  transition: all 0.5s ease 0s;
}
.main .content .subscribe .subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0px;
}
@media (max-width: 767px) {
  .main .content .subscribe .subscribe__body {
    padding: 50px 0px;
  }
}
.main .content .subscribe .subscribe__body .subscribe__logo {
  margin: 0px 0px 39px 0px;
}
.main .content .subscribe .subscribe__body .subscribe__label {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
  margin: 0px 0px 35px 0px;
}
.main .content .subscribe .subscribe__body .subscribe__form {
  display: flex;
}
@media (max-width: 479px) {
  .main .content .subscribe .subscribe__body .subscribe__form {
    display: block;
  }
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input {
  flex: 1 1 auto;
  padding: 0px 8px 0px 0px;
}
@media (max-width: 479px) {
  .main .content .subscribe .subscribe__body .subscribe__form .subscribe__input {
    padding: 0px 0px 8px 0px;
  }
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  padding: 0px 28px;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #929292;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #929292;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #929292;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #929292;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:focus {
  color: #333;
  font-style: normal;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:focus::-webkit-input-placeholder {
  scale: 0;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:focus:-moz-placeholder {
  opacity: 0;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:focus::-moz-placeholder {
  opacity: 0;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input:focus:-ms-input-placeholder {
  scale: 0;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__input .input._error {
  border: 1px solid red;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__button {
  flex: 0 0 126px;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__button .subscribe__btn {
  width: 100%;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.main .content .subscribe .subscribe__body .subscribe__form .subscribe__button .subscribe__btn:hover {
  transition: all 0.2s ease 0s;
  background-color: #3b9371;
}

.footer {
  background-color: #f7f7f7;
}
.footer .footer__row {
  display: flex;
  align-items: center;
  padding: 100px 0px;
}
@media (max-width: 1100px) {
  .footer .footer__row {
    padding: 50px 0px;
  }
}
@media (max-width: 600px) {
  .footer .footer__row {
    padding: 30px 0px;
    flex-direction: column;
    text-align: center;
  }
}
.footer .footer__row .footer__column {
  flex: 0 1 33.333%;
}
.footer .footer__row .footer__column .footer__address {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  color: #848789;
}
.footer .footer__row .footer__column .footer__address p:first-child {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.footer .footer__row .footer__column .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer .footer__row .footer__column .social {
    margin: 20px 0px;
  }
}
.footer .footer__row .footer__column .social .social__link {
  margin: 0px 7.5px;
}
.footer .footer__row .footer__column .dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer__row .footer__column .dev .dev__text {
  font-size: 14px;
  line-height: 17px;
  font-style: italic;
  color: #848789;
  padding: 0px 9px 0px 0px;
}/*# sourceMappingURL=style.css.map */